# Automatically-generated odoo_requirements based on Known Git Sources section of assembly.
--repo https://github.com/crnd-inc/crnd-web.git
--repo https://github.com/crnd-inc/generic-addons.git
--repo https://github.com/OCA/web.git
